.login-form {
  background-color: rgb(58, 211, 238);
  color: white;
  width: 100%;
  max-width: 390px;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App {
  background-color: rgb(10, 158, 184);
  height: auto;
}

.Nav-Bar {
  color: white;
  font: white;
}

.Nav-Bar li a {
  color: white;
}
h1 {
  color: white;
}
.p {
  color: white;
}

form {
  color: white;
}
